*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header .navbar-brand {
  font-weight: 500; }

main {
  background-color: #c395c7;
  text-align: center; }
  main h1 {
    padding: 20px;
    font-size: 2rem; }
  main p {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; }
  main .maquina {
    height: 200px;
    width: 200px; }
  main .imagenesEstilos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    padding-bottom: 50px; }
  main .item-1, main .item-2 {
    height: 500px;
    width: 400px;
    box-shadow: 0 0 20px rgba(103, 65, 107, 0.7); }
  main .linksMinimalistaEIlustracion, main .linkUno, main .linkDos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    font-size: large;
    text-decoration: none; }

footer {
  display: flex;
  flex-direction: column;
  background-color: #654465;
  align-items: center;
  padding-bottom: 50px; }
  footer .LogoAbajo {
    height: 70px;
    width: 70px;
    margin-top: 30px; }

.igIcono {
  width: 25px;
  height: 25px; }

.wspIcono {
  width: 30px;
  height: 30px; }

.wspIcono:hover {
  width: 40px;
  height: 40px; }

.igIcono:hover {
  width: 40px;
  height: 40px; }

.contactate {
  font-size: small;
  padding: 30px;
  color: whitesmoke; }

  @media screen and (max-width:500px){
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
    .maquina{
        height: 100px;
        width: 100px;
    }
    .logoAbajo{
        height: 20px;
        width: 20px;
    }
    .estilosTitulo{
        font-size: x-large;
    }
    .linksMinimalistaEIlustracion, .linkUno, .linkDos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: medium;
    }
    .imagenesEstilos{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .minimalistaTitulo{
        font-size: medium;
    }
}    

@media screen and (max-width:768px){
    h2{
        font-size: large;
    }
    p{
        font-size: medium;
    }
    .maquina{
        height: 150px;
        width: 150px;
    }
    .logoAbajo{
        height: 30px;
        width: 30px;
    }
    .estilosTitulo{
        font-size: xx-large;
    }
    .linksMinimalistaEIlustracion, .linkUno, .linkDos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: medium;
    }
    .imagenesEstilos{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .minimalistaTitulo{
        font-size: medium;
    }
}    