*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
   
@import "../scss/compomentes/home";
@import "../scss/compomentes/sobremi";
@import "../scss/compomentes/estilos";
@import "../scss/compomentes/home";
@import "../scss/compomentes/mediaqueries";
@import "../scss/compomentes/vars";
@import "../scss/compomentes/extend";
@import "../scss/compomentes/mixin";



